.header-wrapper {
  position: relative; /* Enables positioning without removing it from the document flow */
  left: 70px;         /* Positions the element 10px from the left */
}
 

.header h1{

  font-family: Inter;font-size: 28px;font-weight: 500;line-height: 33.89px;text-align: left;  
    
  color: #D63637;   
  }
  
  // .nav-button{
   
  // }
  
  
  .nav-button button{

    border-radius: 4px 0px 0px 0px;border: 1px 0px 0px 0px;opacity: 0px;
    color: #FFFFFF;

    border: 1px solid #D9D9D9E0;

    font-family: Roboto;font-size: 16px;font-weight: 400;line-height: 18.75px;text-align: left; 
    color: #000000;
    border-radius: 0; /* Removes the rounded corners */
    margin-right: 10px;
    color: #000000;
    // width: 48px; /* Set width */
    // height: 48px; /* Set height */
    // padding: 0; /* Remove default padding */
  }
  
  .nav-button button:hover{   
    background-color: whitesmoke;
    
    color: #D63637; 
  }
  
  